<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rendezvous 2012</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }} " rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }} " rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    </head>

  <body>
  <div class="bbtop"></div>
  <div class="bbottom"></div>  

    <div class="container">

     <div class="span3" id="leftside">
	 <h1>Rdv'12</h1>
	 <br />
	 <img src="{{ url_for('static', filename='img/logo.png')}}" alt="RDV Logo" />
	  <p style="font-size: 18px;">IIT Delhi</p>
	  <p>Indian Institute of Technology is proud to present Rendezvous 2012. </p>

	 <br />
	 <a href="{{ url_for('about') }}" class="btn btn-large"><i class="icon-leaf"></i>&nbsp;About</a><br />
	{% if not session.logged_in %}	
	 <a href="{{ url_for('login') }}" class="btn btn-large"><i class="icon-user"></i>&nbsp;Login</a><br />
	 <a href="{{ url_for('register') }}" class="btn btn-large"><i class="icon-ok-circle"></i>&nbsp;Register</a><br />
	{% else %}
	<a href="{{ url_for('panel') }}" class="btn btn-large"><i class="icon-ok-circle"></i>&nbsp;&nbsp;Panel</a><br />
	<a href="#" class="btn btn-large"><i class="icon-ok-circle"></i>&nbsp;Events</a><br />
	{% endif %}
	 <a href="{{ url_for('contact') }}" class="btn btn-large"><i class="icon-envelope"></i>&nbsp;Contact</a><br />
	{% if session.logged_in %}
	<a href="{{ url_for('logout') }}" class="btn btn-large"><i class="icon-off"></i>&nbsp;Logout</a><br />
	{% endif %}
	
	 </div>
	 
	 <div id="rightside">
	 {% block body %}
	 {% endblock %}
	 </div>
	 
    </div><!-- /container -->

    
      <footer>
        <p>&copy; <a href="http://www.iitd.ac.in">Indian Institute of Technology Delhi</a> / <a href="">Rendezvous 2012</a> / All Rights Reserved.</p>
      </footer>

   
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript">
		$("input:text:visible:first").focus();
    </script>
  	
  </body>
</html>
